body {
    background-image: linear-gradient( rgb(196, 101, 188), rgb(252, 178, 178));
    height: 100vh;
    font-family: 'Roboto';
    color: white;
    margin: 0px;
    padding: 0px;
}

#tori {
    color: #000000;
}

iframe {
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.253);
    border:none
}

:root {
    --dark-color: #1F2937;
    --bright-color: #3882F6;
    --white: white;
    --black: black;
}

button {
    width: 150px;
    height: 30px;
    border: none;
    border-radius: 5px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.253);
}

nav {
    display: flex;
    gap: 20px;
    padding: 25px;
    padding-top: 10px;
    align-items: baseline;
}

nav > a {
    text-decoration: none;
    color: #E5E7EB;
    font-size: 18px;
    transition: color 250ms;
}

nav > .logo{
    font-size: 30px;
    color: var(--white);
    margin-right: auto;
}

.logo:hover {
    color: rgb(230, 162, 230);
}

#twitch:hover {
    color: rgb(155, 70, 155);
}

#youtube:hover {
    color: rgb(189, 67, 67);
}

#twitter:hover {
    color: rgb(67, 157, 231);
}

#tiktok:hover {
    color: rgb(110, 110, 110);
}

#landingSection {
    padding-bottom: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 100px;
    gap: 50px;
}

#landingSection > #heroWrapper > h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
    padding-bottom: 0px;
}

#landingSection > #heroWrapper > p {
    padding-bottom: 30px;
}

#heroWrapper {
    display: flex;
    flex-direction: column;
    padding: 50px;
}

#heroWrapper > button {
    background-color: var(--bright-color);
}

#heroWrapper > button > a {
    text-decoration: none;
    color: var(--white);
}

#pictureSection {
    background-color: var(--white);
    padding-bottom: 100px;
    padding-top: 50px;
    color:#1F2937;
    text-align: center;

}

#pictureSection > h1 {
    padding-bottom: 30px;
}

#informationPicturesWrapper {
    display: flex;
    flex-direction: row;
    justify-content: center;
    gap: 50px;
    flex-wrap: wrap;
}

.informationPicture {
    display: flex;
    flex-direction: column;
    align-items: center;

}

.informationPicture > img {
    height: 150px;
    width: 150px;
    object-fit: cover;
    border-radius: 10px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.253);
    margin-bottom: 10px;
}

#quoteSection {
    background-color: #E5E7EB;
    padding: 100px;
}

#quoteWrapper {
    width: 80%;
    margin: auto;
}

#quoteSection > #quoteWrapper > #quote {
    font-size: 36px;
    color: var(--dark-color);
    font-weight: 100;
    font-style: italic;
}

#quoteSection > #quoteWrapper > #attribution {
    font-size: 18px;
    color: var(--dark-color);
    font-weight: light;
    font-style: italic;
    text-align: right;
    display: block;
}

#callToActionSection {
    background-color: var(--white);
    display: flex;
    justify-content: center;
    align-items: center;
    height: 200px;
}

#callToAction {
    background-color: var(--bright-color);
    border-radius: 5px;
    width: 70%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    gap: 50px;
    box-shadow: 10px 5px 5px rgba(0, 0, 0, 0.253);
}

#callToActionText > h1 {
    padding: 0px;
    font-size: 24px;
    margin-bottom: 0px;
}

#callToActionText > p {
    padding: 0px;
    margin-top: 0px;
    font-weight: 100;
}

#callToAction > button {
    background-color: rgb(80, 71, 212);
    color: white;
    border: 2px white solid;
}

footer {
    height: 75px;
    display: flex;
    justify-content: center;
    align-items: center;
}